.gridElement {
	overflow: hidden;
	border-radius: 32px;
	background-color: #fff;
	transition: all 500ms ease 0s;
	will-change: transform;
}

.padding {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 36px 42px;
	border-radius: 32px;
	overflow: hidden;
	background: rgb(255, 255, 255);
	box-shadow: transparent 0px 0px 0px 2px inset;
}

.shadowed {
	opacity: 0.4;
}
