.navlink {
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 6px 16px;
	transition: all 0.3s ease-in-out 0s;
	color: var(--text-color);
	font-size: 14px;
	text-decoration: none;
	z-index: 6;
	font-weight: 600;
	&:hover,
	&:active,
	&:focus {
		color: var(--text-color-bright);
	}
}
